@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(176, 234, 238);

  height: 100%;
}
h1 {
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  color: red;
  align-self: start;
}
#text-input {
  margin-bottom: 100px;
  font-size: 28px;
  font-family: "Varela Round", sans-serif;
  outline: 0;

  margin-top: 50px;
  border: 1px solid grey;
  width: 250px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 6px 6px -6px #777;
}
#translate-button {
  background-color: white;
  height: 40px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 50px;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  color: black;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 6px 6px -6px #777;
}
.language-div {
  height: 80px;
  width: 90%;
  background: rgb(99, 213, 247);
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 6px 6px -6px #777;
}

.language-div img {
  height: 60px;
  width: 60px;
  margin-left: 10px;
}

#translated-word-french {
  font-family: "Varela Round", sans-serif;
  font-size: 24px;
  margin-left: 10px;
}
#translated-word-italian {
  font-family: "Varela Round", sans-serif;
  font-size: 24px;
  margin-left: 10px;
}

#translated-word-portuguese {
  font-family: "Varela Round", sans-serif;
  font-size: 24px;
  margin-left: 10px;
}
#translated-word {
  font-family: "Varela Round", sans-serif;
  font-size: 24px;
  margin-left: 10px;
}
